.column {
  background-color: #f2f2f3;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-name {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  cursor: pointer; /* To indicate that it is clickable */
}

.form-name-edit {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-name-edit input {
  padding: 5px;
  font-size: 16px;
}

.form-name-edit button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.form-name-edit button:hover {
  background-color: #45a049;
}

.no-tasks-message {
  text-align: center;
  font-size: 16px;
  color: #666;
  padding: 10px;
  background-color: #f9f9f9;
  border: 2px dashed #ccc;
  border-radius: 8px;
  margin-top: 10px;
}
